---
import TypingText from "@/components/animata/text/typing-text"
import Ball from "@/components/Ball.astro"
import Layout from "@/layouts/Layout.astro"
import "@/styles/globals.css"
---

<Layout>
  <main class="mx-auto mt-60 max-w-3xl text-neutral-600">
    <Ball />
    <TypingText
      className="shrink-0"
      text="> 你收到一个信件 💌"
      waitTime={2000}
      delay={64}
      client:load
    />
  </main>
</Layout>
